.Background {
  background-image:
    linear-gradient(
      #000428, #004e92
    );
    width:100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

a:link {
  color: wheat;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: wheat;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: wheat;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: wheat;
  background-color: transparent;
  text-decoration: underline;
}

a+a {
  margin-left: 10px;
}

.Policies-background {
  background-image:
    linear-gradient(
      #000428, #004e92
    );
    color: white;
    height:fit-content
}